#avatar-cfg {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    grid-template-areas:
        "avatar form"
        "button button";
}
.avatar {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    grid-area: avatar;
}
#avatar-cfg > div {
    grid-area: form;
}
#avatar-cfg > button {
    grid-area: button;
}

#email-verify {
    border: 1px solid var(--green);
    background-color: var(--green-alpha);
    padding: 0.5em;
    border-radius: 0.5em;
    --border: 1px solid var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#email-verify-send {
    width: 100%;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) {
    #email-verify {
        width: 50%;
    }
}